h1 {
    color: coral;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body {
    background-color: azure;
    margin: 80px;
    padding: 80px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid coral;
    border-radius: 30px;
}

input[type=text] {
    border: 2px solid coral;
    border-radius: 50px;
}

input[type=submit] {
    background-color: gold;
    cursor: pointer;
}

.lyricsAll {
    display: flex;
    margin: 50px;
    padding: 50px;
}